In [1]:
print("Hare Krishna✨")

Hare Krishna✨

In [2]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn import model_selection

In [3]:
df = pd.read_csv('Ethereum_dataset.csv')
df = df.dropna()
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,08-08-2015 23:59,2.798810,0.714725,2.793760,0.753325,674188,45486894.24
1,2,Ethereum,ETH,09-08-2015 23:59,0.879810,0.629191,0.706136,0.701897,532170,42399573.50
2,3,Ethereum,ETH,10-08-2015 23:59,0.729854,0.636546,0.713989,0.708448,405283,42818364.39
3,4,Ethereum,ETH,11-08-2015 23:59,1.131410,0.663235,0.708087,1.067860,1463100,64569288.43
4,5,Ethereum,ETH,12-08-2015 23:59,1.289940,0.883608,1.058750,1.217440,2150620,73645010.99

In [4]:
df.columns

Index(['SNo', 'Name', 'Symbol', 'Date', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Marketcap'],
      dtype='object')

In [5]:
df['Name'] = df['Name'].replace(['Ethereum'], '1')
df=df.drop('Symbol',axis=1)
df.head()

,SNo,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,1,1,08-08-2015 23:59,2.798810,0.714725,2.793760,0.753325,674188,45486894.24
1,2,1,09-08-2015 23:59,0.879810,0.629191,0.706136,0.701897,532170,42399573.50
2,3,1,10-08-2015 23:59,0.729854,0.636546,0.713989,0.708448,405283,42818364.39
3,4,1,11-08-2015 23:59,1.131410,0.663235,0.708087,1.067860,1463100,64569288.43
4,5,1,12-08-2015 23:59,1.289940,0.883608,1.058750,1.217440,2150620,73645010.99

In [15]:
df['date_parsed'] = pd.to_datetime(df['Date'], format='%d-%m-%Y %H:%M', errors='coerce')

# Extract date information
df['year'] = df['date_parsed'].dt.year
df['month'] = df['date_parsed'].dt.month
df['day'] = df['date_parsed'].dt.day

# Use get_dummies to create dummy variables
dummy = pd.get_dummies(df, columns=['year', 'month', 'day'])

df = df.dropna()

# Print the DataFrame to see the updated columns
df.head()

,SNo,Name,Date,High,Low,Open,Close,Volume,Marketcap,date_parsed,year,month,day
0,1,1,08-08-2015 23:59,2.798810,0.714725,2.793760,0.753325,674188,45486894.24,2015-08-08 23:59:00,2015,8,8
1,2,1,09-08-2015 23:59,0.879810,0.629191,0.706136,0.701897,532170,42399573.50,2015-08-09 23:59:00,2015,8,9
2,3,1,10-08-2015 23:59,0.729854,0.636546,0.713989,0.708448,405283,42818364.39,2015-08-10 23:59:00,2015,8,10
3,4,1,11-08-2015 23:59,1.131410,0.663235,0.708087,1.067860,1463100,64569288.43,2015-08-11 23:59:00,2015,8,11
4,5,1,12-08-2015 23:59,1.289940,0.883608,1.058750,1.217440,2150620,73645010.99,2015-08-12 23:59:00,2015,8,12

In [9]:
X=df[['High','Low','Open','Marketcap','year','month','day']]
y=df['Close']

In [10]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=.3,random_state=1)

In [11]:
h1 = svm.SVR()

In [12]:
h1.fit(X_train,y_train)

SVR()

In [13]:
y_pred = h1.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error 
#from sklearn.metrics import 

mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
print("Mean squared error:",mse(y_pred,y_test))

rmse = mse(y_test, y_pred, squared=False)
print(f'Root Mean Squared Error: {rmse}')

from sklearn.metrics import r2_score

# Assuming y_true are your true values and y_pred are your predicted values
r_squared = r2_score(y_test, y_pred)
print("R2 score is:",r_squared)

Mean Absolute Error: 199.4883045791908
Mean squared error: 264433.2744895775
Root Mean Squared Error: 514.2307599605235
R2 score is: 0.22111667267266955